<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked orderbar ">
    <li><%= link_to 'Нові замовлення', my_order_path(status: 'new'), method: 'get', class: 'btn btn-success' %></li>
    <li><%= link_to 'Неоплачені замовлення', my_order_path(status: 'not_paid'), method: 'get', class: 'btn btn-success' %></li>
    <li><%= link_to 'Оплачені замовлення', my_order_path(status: 'paid'), method: 'get', class: 'btn btn-success' %></li>
    <li><%= link_to 'В дорозі', my_order_path(status: 'transit'), method: 'get', class: 'btn btn-success' %></li>
    <li><%= link_to 'Доставлені замовлення', my_order_path(status: 'completed'), method: 'get', class: 'btn btn-success' %></li>
  </ul>
</div>

