<%= render 'order/orderbar' %>

<div class="col-md-8 cartTable">
  <table class="col-md-12">
        <% @order.order_items.each do |oi| %>
            <tr>
              <th>
                <%= oi.name %>
              </th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="tr">
              <td>
                Товар : <%= link_to oi.url, oi.url %><br>
                Розмір : <%= oi.size %><br>
                Колір : <%= oi.color %><br>
              </td>
              <td>
                Ціна : <br> <%= oi.unit_price %> Ft
              </td>
              <td>
                Кількість : <br> <%= oi.quantity %>
              </td>
              <td>
                Разом : <br> <%= oi.total_price %> Ft
              </td>
            </tr>
        <% end %>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            Разом : <%= @order.subtotal %> Ft<br>
          </td>
        </tr>
  </table>
</div>