<div class="row">
<%= render 'items/orderbar' %>
  <div class="col-md-9">
    <% @items.each do |i| %>
        <div class="col-md-12 item">
          <div class="panel panel-default">
            <div class="panel-body">
              <table>
                <tr>
                  <td>
                    <i class="glyphicon glyphicon-calendar"> </i> Дата замовлення
                  </td>
                  <td>
                    <i class="glyphicon glyphicon-tag"> </i> Назва товару
                  </td>
                  <td>
                    <i class="glyphicon glyphicon-credit-card"> </i> Ціна
                  </td>
                  <td style="width: 50px" rowspan="2"> <%= link_to "Деталі", item_path(i.id) %> </td>
                </tr>
                <tr>
                  <td>
                    <%= i.created_at %>
                  </td>
                  <td>
                    <%= i.name %>
                  </td>
                  <td>
                    <%= i.price %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>





