<%= render 'items/orderbar' %>


<div class="show_item">
  <h3>Інформація про замовлення</h3>

      <i> URL:</i> <%= @item.url %><br>
      <i> Назва товару:</i> <%= @item.name %><br>


     <i> Розмір:</i> <%= @item.size %>
     <i> Колір:</i> <%= @item.color %><br>


      <i> Кількість:</i> <%= @item.quantity %>
      <i> Цiна:</i> <%= @item.price %><br>


  <i> Коментарі:</i> <%= @item.u_comment %> <br>
  <br>
  <% if current_user.role != 'admin' %>
      <% if @item.status != 'new' %>
       <h3>Інформація про оплату</h3>
       <table>
         <tr>
           <td> Ціна товару </td>
           <td>К-сть</td>
           <td> Ціна доставки </td>
           <td> Комісія </td>
           <td> Загальна ціна </td>
          </tr>
          <tr>
            <td> <%= @item.price %> </td>
            <td> <%= @item.quantity %> </td>
            <td> <%= @item.delivery_price %> </td>
            <td> 15% </td>
            <td> <%= @item.total_price %> </td>
          </tr>
        </table>
      <% else %>
            <h3>Товар опрацьовується менеджером</h3>
      <% end %>
  <% else %>
    <h3>Адмін опції</h3>
      <table>
        <tr>
          <td> Ціна товару </td>
          <td>К-сть</td>
          <td> Ціна доставки </td>
          <td> Комісія </td>
          <td> Загальна ціна </td>
          <td> Статус </td>
        </tr>
        <tr>
          <%= form_for :item, url: item_path(@item), method: :patch do |f| %>
          <td> <%= @item.price %> </td>
          <td> <%= @item.quantity %> </td>
          <td> <%= f.text_field :delivery_price, placeholder: 'Ціна доставки', class: 'form-control', :required => true %> </td>
          <td> 15% </td>
          <td> <%= f.text_field :total_price, placeholder: 'Ціна', class: 'form-control', :required => true %> </td>
          <td> <%= f.select :status, Item::STATUS_TYPE, class: 'form-control', :required => true %> </td>
        </tr>
      </table>
              <%= f.text_area :a_comment, placeholder: 'Коментарі', class: 'form-control' %>
              <p></p>
               <%= f.submit value: 'Зберегти', class: 'btn btn-block btn-success' %>
          <% end %>
  <% end %>
</div>
