<div class="col-md-10">
  <table class="table table-hover">
    <tr>
      <th> # </th>
      <th> Імя </th>
      <th> Прізвище </th>
      <th> Електронна пошта </th>
      <th> Номер телефону </th>
      <th> Адреса </th>
      <th> Опції </th>
    </tr>
    <% @users.each do |u| %>
    <tr>
      <td> <%= u.id %> </td>
      <td> <%= u.first_name %> </td>
      <td> <%= u.last_name %> </td>
      <td> <%= u.email %> </td>
      <td> <%= u.phone %> </td>
      <td> <%= u.address %> </td>
      <td>  </td>
    </tr>
    <% end %>
  </table>
</div>