
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <div class='navbar-form navbar-right'>
        <% if current_user %>
            <%= link_to 'Мої замовлення', my_order_path, method: 'get', class: 'btn btn-success' %>
            <%= link_to 'Зробити замовлення', new_item_path, method: 'get', class: 'btn btn-success' %>
            <i class="glyphicon glyphicon-user white"></i> <i style="color: white; margin-right: 10px" ><%= current_user.mail %> </i> <a class="btn btn-success" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to edit_user_path(current_user) do %> <i class="glyphicon glyphicon-pencil"> </i> Редагувати профіль </li> <% end %>
              <li><%= link_to user_path(current_user), method: :delete, data: { confirm: 'Your profile will be delete' } do %> <i class="glyphicon glyphicon-trash"> </i> Видалити профіль </li> <% end %>
                <li class="divider"></li>
                <li><%= link_to 'Вийти', logout_path, method: 'delete', class: 'btn btn-success' %></li>
                </ul>


        <% else %>

            <%= form_for(:session, url: login_path) do |f| %>

                <%= f.text_field :mail, placeholder: 'Eлектронна пошта', class: 'form-control' %>


                <%= f.password_field :password, placeholder: 'Пароль', class: 'form-control' %>


                <%=  f.submit value='Вхід', class: 'btn btn-success' %>
                <%= link_to 'Зареєструватись', signup_path, method: 'get', class: 'btn btn-success' %>
            <% end %>
            <% end %>
           </div>
        </div>
    </div><!--/.navbar-collapse -->
</nav>
