<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <div class='navbar-form navbar-right'>
        <% if current_user %>
            <i class="glyphicon glyphicon-user white"></i> <i style="color: white; margin-right: 10px" ><%= current_user.login %> </i> <a class="btn btn-success" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="glyphicon glyphicon-pencil"></i> Edit profile </a></li>
              <li><%= link_to user_path(current_user), method: :delete, data: { confirm: 'Your profile will be delete' } do %> <i class="glyphicon glyphicon-trash"> </i> Delete profile </li> <% end %>
                <li class="divider"></li>
                <li><%= link_to "Log out", logout_path, method: "delete", class: "btn btn-success" %></li>
                </ul>


        <% else %>

            <%= form_for(:session, url: login_path) do |f| %>

                <%= f.text_field :login, placeholder: "login", class: "form-control" %>


                <%= f.password_field :password, placeholder: "password", class: "form-control" %>


                <%=  f.submit value='Login', class: "btn btn-success" %>
                <%= link_to "Sign up", signup_path, method: "get", class: "btn btn-success" %>
                </div>

            <% end %>
        <% end %>

        </div><!--/.navbar-collapse -->
  </div>
</nav>